🕛 <b>{{data['date_and_time_order']}}</b><br>
🔑 Данные для API ключа: <b>{{data['name_key']}}</b><br>	
🛒 <b>Заказ 📦</b> [{{data['total_count_orders_today']}}]: <b>{{data['finishedPrice']}}₽</b><br>
🛍️ WB скидка: {{data['spp_sum']}}₽ ({{data['spp_percent']}}%)<br>
📈 Сегодня всего: <b>{{data['total_count_orders_today']}} шт. на {{data['total_sum_orders_today']}}₽</b><br>
🆔 Артикул: <a href="https://www.wildberries.ru/catalog/{{data['nmId']}}/detail.aspx?targetUrl=SP">{{data['nmId']}}</a><br>
📂 {{data['subject']}}<br>
™️ {{data['brand']}}<br>
{% if data['techSize'] != '0' %}
📏Размер: <b>{{data['techSize']}}</b><br>
{% endif %}
🏷 {{data['supplierArticle']}}<br>
⭐️ Рейтинг: {{data['reviewRating']}}<br>
💬 Отзывы: {{data['feedbacks']}}<br>
⏳ Сегодня таких: <b>{{data['number_orders_with_this_nmId_today']}} на {{data['total_sum_orders_with_this_nmId_today']}}₽</b><br>
⌛️ Вчера таких: <b>{{data['number_orders_with_this_nmId_yesterday']}} на {{data['total_sum_orders_with_this_nmId_yesterday']}}₽</b><br>
🌎 {{data['warehouseName']}}<br>
🚛 В пути до клиента: <b>{{data['inWayToClient']}}</b><br>
🚚 В пути от клиента: <b>{{data['inWayFromClient']}}</b><br><br>
👇<b>Остатки на складах</b><br><br>
{% if len(data['stocks_on_warehouses']) != 0 and data['total_stocks_on_warehouses'] != 0 %}
{% for warehouse in data['stocks_on_warehouses'] %}
{% if warehouse['stock'] !=0 %}
▶️ {{warehouse['warehouse_name']}}: <b>{{warehouse['stock']}} шт.</b> хватит на <b>{{warehouse['on_count_days']}} дн</b><br>
{% endif %}
{% endfor %}
{% elif len(data['stocks_on_warehouses']) != 0 and data['total_stocks_on_warehouses'] == 0 %}
❌ Остатки исчерпаны, пополните запасы товара!!!
{% else %}
▶️ <b>Не удалось получить данные</b><br>
{% endif %}