Мы видим, что вы не подписаны на канал создателя бота, поэтому в данный момент вы не можете получать уведомления 😢 <br>
Для того, что вновь полноценно работать с нашим ботом -> <b>подпишитесь https://t.me/+Vf1YXieyC-Y1Njhi</b><br>